{% extends 'base.html.twig' %}

{% block title %}Hello ConcertController!{% endblock %}

{% block body %}

<div class="container py-5">
    <div class="row">
        <div class="col">
            <h1 class="text-center">This is a list of band :</h1>
        </div>
    </div>
    <div class="row">
        {% for band in band_list %}
        <div class="col-md-4">
            <div class="card h-100 py-3 p-4 border-0 shadow">
                <img class="img-fluid" src="{{ asset(band.logo) }}">
                <h2 class="my-3">{{ band.name }}</h2>
                <a class="btn btn-primary" href="{{ band.id }}">SHOW</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}